<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs" data-controller="condition-devise" data-action="change->condition-devise#revealCompany change->condition-devise#revealContact_info">

    <%= f.input :role, as: :radio_buttons, collection: ["Joueur", "Organisateur", "Les deux"],
      label:"Etes_vous un:",
      input_html: { data: { condition_devise_target: "checkbox" } }%>

    <div class="d-none" data-condition-devise-target="company" data-action="change->condition-devise#revealCompany_info">
      <%= f.input :organism, label:"Organisez vous un évenement pour une organisation?",
                  as: :radio_buttons,
                  collection: ["Oui", "Non"],
                  input_html: { data: { condition_devise_target: "yes" } }%>
    </div>

    <div class="d-none" data-condition-devise-target="company_info">
      <%= f.input :company_name,
                  label:"Nom de l'entreprise:",
                  required: true,
                  autofocus: true %>
      <%= f.input :type, as: :radio_buttons, collection: ["Un établissement privé", "Une collectivitée", "Une association"],
                  label:"Quel sorte d'établissement êtes vous?",
                  required: true,
                  autofocus: true %>
      <%= f.input :address,
                  label:"Quel est l'adresse de votre établissement?",
                  required: true,
                  autofocus: true%>

    </div>

    <div class="d-none" data-condition-devise-target="contact_info">
      <%= f.input :first_name,
                  label:"Prénom:",
                  required: true,
                  autofocus: true %>
      <%= f.input :last_name,
                  label:"Nom de famille:",
                  required: true,
                  autofocus: true %>
      <%= f.input :address,
                  label:"Adresse:",
                  required: true,
                  autofocus: true%>
      <%= f.input :age,
                  label:"Age:",
                  required: true,
                  autofocus: true%>
      <%= f.input :gender, collection: ["Homme", "Femme"],
                  label:"Etes-vous un/une:",
                  required: true,
                  autofocus: true%>
      <%= f.input :main_sport,
                  label:"Votre sport favori:",
                  required: true,
                  autofocus: true%>
      <%= f.input :medical_certificate,
                  label:"Avez-vous un certificat médical pour la pratique sportive?",
                  as: :radio_buttons,
                  collection: ["Oui", "Non"],
                  required: true,
                  autofocus: true%>
      <%= f.input :email,
                  label:"Email:",
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" }%>
      <%= f.input :phone_number,
                  label:"Numéro de téléphone:",
                  required: true,
                  autofocus: true%>
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :photo, as: :file %>
    </div>

  <div class="form-actions">
    <%= f.button :submit, "Modifier" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<div class="d-flex align-items-center">
  <div>Unhappy?</div>
  <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-link" %>
</div>

<%= link_to "Back", :back %>
