<div class="navbar navbar-expand-sm navbar-light navbar-lewagon px-3">
  <%= link_to root_path do %>
    <%= image_tag "Getchamp-Logo.png", alt: "alttext", class: "logo" %>
  <% end %>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
            <%= link_to "Browse", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to root_path, class: "nav-link", id:"name" do %>
            <p><%=current_user.first_name.capitalize%> <%=current_user.last_name.capitalize%></p>
            <%end%>
        </li>
         <li class="nav-item dropdown">
            <%= cl_image_tag current_user.photo.key, width: 40, height: 40, crop: :fill, class: "avatar avatar-bordered dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <p class ="dropdown-item"><%= link_to "Profile", root_path, class: "nav-link"%></p>
              <p class ="dropdown-item"><%= link_to "New Parking", root_path, class: "nav-link" %></p>
              <p class ="dropdown-item"><%= link_to "Log off", destroy_user_session_path, data: { turbo_method: :delete}, class: "link-to-login" %></p>
            </div>
          </li>
      <% else %>
        <li class="nav-item active">
            <%= link_to "Log-in", new_user_session_path, class: "nav-link" %>
        </li>
               <li class="nav-item active">
            <%= link_to "Browse", root_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
