<div class="navbar navbar-expand-sm navbar-light navbar-lewagon px-3">
  <%= link_to root_path do %>
    <%= image_tag "Getchamp-Logo.png", alt: "alttext", class: "logo" %>
  <% end %>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
            <%= link_to "Déconnexion", destroy_user_session_path, class: "nav-link", data: { turbo_method: :delete}, class: "link-to-login" %>
        </li>
        <li class="nav-item active">
          <%= link_to user_path(current_user), class: "nav-link", id:"name" do %>
            <p><%=current_user.first_name.capitalize%> <%=current_user.last_name.capitalize%></p>
            <%end%>
        </li>
        <li>
          <%@selects = SelectPlayer.where(user_id: current_user, read: false)%>
          <div class = "notification-cont" data-controller="notification">
           <% if @selects.length > 0%>
           <p class="nb-notif"><%=@selects.length%></p>
           <%end%>
           <%=link_to do%>
                <i class="fa-solid fa-bell" data-action="click->notification#revealContent"></i>
            <%end%>
            <div class="notification d-none" data-notification-target="content">
              <%@selects.each do |select|%>
                  <%= link_to select.notification, reading_select_player_path(select), data: { turbo_method: :patch}%>
                <%end%>
            </div>
          </div>
        </li>
         <li class="nav-item active">
            <% if current_user.photo.key? %>
              <%= cl_image_tag current_user.photo.key, width: 40, height: 40, crop: :fill, class: "avatar avatar-bordered dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% else %>
              <%= image_tag "default.png", width: 40, height: 40, crop: :fill, class: "avatar avatar-bordered dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>
          </li>
      <% else %>
        <li class="nav-item active">
            <%= link_to "S'identifier", new_user_session_path, class: "nav-link" %>
        </li>
               <li class="nav-item active">
            <%= link_to "S'inscrire", new_user_registration_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
