<div class="mini-banner">
    <div class = "title">
      <h1>Get Ch@mpionship</h1>
    </div>
    <div class="d-flex justify-content-center">
      <div class="d-flex flex-column" id="searchBox">
        <h3>trouver un tournoi dans votre région</h3>
        <div id = "searchbox" class="form col-xs-12">
          <input class="col-xs-9" id="searchBar" type="text" placeholder="Ville, département, région"/>
          <input class="col-xs-9" id="searchBar" type="text" placeholder="activité recherchée"/>
          <button type="button" class="btn btn-dark">search</button>
        </div>
      </div>
    </div>
</div>
<div class = "container-index">
  <div class = "index-up">
    <div class = "search">
    </div>
    <div class = "cards-index">
       <div style="margin-top:50px; margin-left:40px;">
         <h1><strong>Liste de tous les événements</strong></h1>
        </div>
        <div class ="cards">
          <% @events.each do |event| %>
            <div class="card-product">
                <% if event.photos.empty? %>
                  <%= image_tag "event-default.png"%>
                <% else %>
                  <%= cl_image_tag event.photos.first.key%>
                <% end %>
              <div class="card-product-infos">
                <div>
                  <h2> <%= event.event_name %>, <%= event.activity %></h2>
                  <p>  <%= event.event_address %></p>
                  <p> Date: de <%= event.event_start %> à <%= event.event_end %></p>
                </div>
                <%=  link_to event_path(event), class: "link-to-show" do%>
                  <p class = "card-product-details"> détails</p>
                <% end  %>
                <% if event.user.photo.key? %>
                  <%= cl_image_tag event.user.photo.key, width: 40, height: 40, crop: :fill, class: "card-product-user"%>
                <% else %>
                  <%= image_tag "default.png", width: 40, height: 40, crop: :fill, class: "card-product-user" %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
    </div>
  </div>

</div>

    <div id = "map"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

</div>
