<% if @event.photos.empty? %>
<div class="banner-show" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(banner-default.png)">
<% else %>
<div class="banner-show" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%=cl_image_path @event.photos.first.key, height: 300, crop: :fill %>')">
<% end %>
  <div class="text-banner">
    <h1><%=@event.event_name%></h1>
    <%= link_to "Participer", new_event_team_path(@event), class:"btn-show"%>

    <div id="clockdiv">
        <h2>date limite d'inscription:</h2>
        <p id = "endtime" class = "d-none"><%= @event.deadline_register %></p>
          <div class = "countdown">
            <div class ="container-days">
              <span class="days"></span>
              <div class="smalltext"><%= t(".jours") %></div>
            </div>
            <div class ="container-hours">
              <span class="hours"></span>
              <div class="smalltext"><%= t(".heures") %></div>
            </div>
            <div class ="container-minutes">
              <span class="minutes"></span>
              <div class="smalltext"><%= t(".min") %></div>
            </div>
            <div class ="container-seconds">
              <span class="seconds"></span>
              <div class="smalltext"><%= t(".sec") %></div>
            </div>
    </div>
</div>




  </div>
</div>


<h3>Détails de l'événement</h3>
<div class="informations-sport">
  <div class="information-org">
    <h2>Organisateur</h2>
    <ul>
      <%if @event.user.organism == "Oui"%>
          <li><span><%=event.user.company_name%></span></li>
          <li><span><%=@event.user.last_name.capitalize%> <%=@event.user.first_name.capitalize%></span></li>
        <%else%>
          <li><span><%=@event.user.last_name.capitalize%> <%=@event.user.first_name.capitalize%></span></li>
        <%end%>
          <li>
            <% if @event.user.photo.key? %>
              <%= cl_image_tag @event.user.photo.key, width: 200 %>
            <% else %>
              <%= image_tag "default.png", width: 200 %>
            <% end %> </li>
          <li>Numéro: <span><%=@event.user.phone_number%></span></li>
          <li>Email: <span><%=@event.user.email%></span></li>
          <%= link_to "Profile", user_path(@event.user), class: "btn btn-dark"%>
    </ul>
  </div>
  <div class="information-event">
    <ul>
      <li>Activité: <span><%=@event.activity%> en <%=@event.nb_players_team%>c<%=@event.nb_players_team%></span> </li>
      <li>Genre: <span><%=@event.event_gender%></span> </li>
      <li>Nombre d'équipe: <span><%=@event.nb_team%></span> </li>
      <li>Prize Money total: <span><%=@event.prizemoney%>€</span> </li>
      <li>Prix d'inscription: <span><%=@event.price_by_player%>€ par joueur </span></li>
    </ul>
  </div>
</div>

 <div class="inscription">
    <h4>Equipes inscrites<h4>
    <table id="equipes">
      <tr>
        <th>Equipes</th>
        <th>Date d'inscription</th>
        <th></th>
      </tr>
      <%@event.teams.each do |team| %>
      <tr>
        <td><%=team.team_name%></td>
        <td><%=team.created_at.strftime("%d/%m/%Y-%k:%M")%></td>
        <% if current_user == @event.user || team.user.include?(current_user)%>
        <td><i class="fa-solid fa-trash-can"></i> <small><%= link_to "delete", team_path(team), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this team?"}, class: 'text-danger' %></small></td>
        <% end %>
      </tr>
      <%end%>
  </table>
  </div>



  <div class="d-flex" id ="orga-map">
    <div class="informations-ta">
      <ul>
        <li>Adresse: <span><%=@event.event_address%></span></li>
        <li>Début: <span><%=@event.event_start.strftime("%d/%m/%Y")%></span> </li>
        <li>Fin: <span><%=@event.event_end.strftime("%d/%m/%Y")%></span> </li>
      </ul>
    </div>
    <div id= "map2"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
  </div>

  <div class = "event-reviews">
    <h2>Laissez un commentaire </h2>
      <div data-controller="insert-in-list">
        <div data-insert-in-list-target="items">
        </div>
        <%= render "event_reviews/form", event_review: @event_review, event: @event%>
      </div>
      <div>
        <% if @event.event_reviews.blank? %>
          Soyez le premier à laisser un avis pour <%= @event.event_name %>
        <% else %>
          <% @event.event_reviews.each do |event_review| %>
            <%= render "event_review", event_review: event_review, event: @event, reviewer: @reviewer%>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

</div>
