<div class="banner-show" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%=cl_image_path @event.photos.first.key, height: 300, crop: :fill %>')">
  <div class="text-banner">
    <h1><%=@event.event_name%></h1>
    <%= link_to "Participer", new_event_team_path(@event), class:"btn-show"%>
      <div class="cloture">
        <h3>Cloture des inscriptions:</h3>
        <div class="time"></div>
        <span id="countdown_day" >--</span> jours
        <span id="countdown_hour">--</span> heures
        <span id="countdown_min" >--</span> minutes
        <span id="countdown_sec" >--</span> secondes
      </div>
  </div>
</div>


<h3>Détails de l'événement</h3>
<div class="informations-sport">
  <div class="information">
    <ul>
      <li>Activité:     <span><%=@event.activity%> en <%=@event.nb_players_team%>c<%=@event.nb_players_team%></span> </li>
      <li>Genre: <span><%=@event.event_gender%></span> </li>
      <li>Nombre d'équipe: <span><%=@event.nb_team%></span> </li>
      <li>Prize Money total: <span><%=@event.prizemoney%>€</span> </li>
      <li>Prix d'inscription: <span><%=@event.price_by_player%>€ par joueur </span></li>
    </ul>
  </div>
  <div class="inscription">
    <h4 class="h">Equipes inscrites<h4>
    <div class="equipes">
      <ul>
        <li><p><span>Equipes</span></p><p><span>Date d'inscription</span></p></li>
      <%@event.teams.each do |team| %>
        <li><p><%=team.team_name%></p><p><%=team.created_at%></p></li>
      <%end%>
    </div>
  </div>
</div>
  <div class="d-flex" id ="orga-map">
    <div class="informations-orga">
      <ul>
        <li>Adresse: <span><%=@event.event_address%></span>  </li>
        <li>Début: <span><%=@event.event_start%></span> </li>
        <li>Fin: <span><%=@event.event_end%></span> </li>
        <%if @event.user.organism == "Oui"%>
          <li>Organisateur: <span><%event.user.company_name%></span></li>
          <li> Contact: <span><%@event.user.last_name.capitalize%> <%@event.user.first_name.capitalize%></span></li>
        <%else%>
          <li>Organisateur: <span><%@event.user.last_name.capitalize%> <%@event.user.first_name.capitalize%></span>  </li>
        <%end%>
          <li>Numéro: <span><%=@event.user.phone_number%></span></li>
          <li>Email: <span><%=@event.user.email%></span></li>
      </ul>
    </div>
    <div class= "map"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
  </div>
</div>

<div class="information">

</div>
