<div class="banner">
    <div class = "title">
      <h1>Get Ch@mpionship</h1>
      <p>Votre outil d'aide à l'organisation d'événement sportif. Une solution claire et intuitive pour gérer à votre place la logistique et la sportive de votre compétition. Vous permettant de vous consacrez entièrement à vos invités/prtatiquants.</p>
    </div>
    <div class="d-flex justify-content-center">
      <div class="d-flex flex-column" id="searchBox">
        <h3>Trouver un tournoi dans votre région</h3>
        <div id = "searchbox" class="form col-xs-12">
          <%= form_with url: events_path, method: :get, class: "d-flex align-items-center", id: "searchBox" do %>
            <%= text_field_tag :query,
                params[:query],
                class: "form-control",
                id: "searchBar",
                placeholder: "activité recherchée"
            %>
            <%= text_field_tag :event_address,
                params[:event_address],
                class: "form-control",
                id: "searchBar",
                placeholder: "Ville, département, région"
            %>
             <%= submit_tag "Search", class: "btn btn-dark" %>
          <% end %>
        </div>
      </div>
    </div>
</div>

<div class = "logged-in">
   <div class = "organize-home">
   <% if user_signed_in? %>
        <% unless @events.empty? %>
        <h2 id = "logged-in-title">J'organise</h2>
        <% @events.each do |event| %>
          <div class = "card-home">
           <% if event.photos.empty? %>
                  <%= image_tag "event-default.png"%>
                <% else %>
                  <%= cl_image_tag event.photos.first.key%>
                <% end %>
            <div class = "card-home-info">
                <h2> Name: <%= event.event_name%></h2>
                <p> Address: <%= event.event_address%></p>
                <p> Début: <span><%= event.event_start.strftime("%d/%m/%Y")%></span> Fin: <span><%= event.event_end.strftime("%d/%m/%Y")%></span></p>
            </div>
            <div class = "card-home-link">
                <p id ="event-link"> <%= link_to event_path(event), class: "home-link-to-show" do %> détails <%end %></p>
            </div>
          </div>
          <%end%>
        <%end%>
    <%end%>
    </div>

    <div class = "partecip-home">
      <% if user_signed_in? %>

        <%# <h2 id = "logged-in-title">Je participe</h2> %>
        <% current_user.teams.each do |team| %>
          <div class = "card-home">
            <% if team.event.photos.empty?%>
              <%= image_tag "event-default.png"%>
            <% else %>
              <%= cl_image_tag team.event.photos.first.key%>
            <% end %>
            <div class = "card-home-info">
              <h2> Name: <%= team.event.event_name%></h2>
              <p> Address: <%= team.event.event_address%></p>
              <p> Début: <span><%= team.event.event_start.strftime("%d/%m/%Y")%></span> Fin: <span><%= team.event.event_end.strftime("%d/%m/%Y")%></span></p>
            </div>
            <div class = "card-home-link">
              <p id ="event-link"> <%= link_to "Détails", event_path(team.event), class: "home-link-to-show"%></p>
            </div>
          </div>
        <%end%>
      <%end%>
    </div>
</div>


<div class="cards">

  <div id="golf">
    <%= link_to events_path(query: "golf"), method: :get, class: "link-to-show" do  %>
    Golf
    <% end %>
  </div>

  <div  id="football">
  <%= link_to events_path(query: "foot"), class: "link-to-show" do %>
    Football
    <% end %>
  </div>

  <div id="basket">
  <%= link_to events_path(query: "basket"), class: "link-to-show" do  %>
      Basket
      <% end %>
  </div>

   <div id="ping-pong">
   <%= link_to events_path(query: "ping-pong"), class: "link-to-show" do  %>
    Ping-pong
    <% end %>
  </div>

  <div id="petanque">
  <%= link_to events_path(query: "petanque"), class: "link-to-show" do  %>
    Petanque
    <% end %>
  </div>

  <div id="volley">
  <%= link_to events_path(query: "beach volley"), class: "link-to-show" do  %>
    Beach Volley
    <% end %>
  </div>
</div>
