<div class="banner">
    <div class = "title">
      <h1>Get Ch@mpionship</h1>
      <p>Votre outil d'aide à l'organisation d'événements sportifs. Une solution claire et intuitive pour gérer à votre place la logistique et la sportive de votre compétition.</p>
    </div>
    <div class="d-flex justify-content-center">
      <div class="d-flex flex-column" id="searchBox">
        <h3>Trouver un tournoi dans votre région</h3>
        <div id = "searchbox" class="form col-xs-12">
          <%= form_with url: events_path, method: :get, class: "d-flex align-items-center", id: "searchBox" do %>
            <%= text_field_tag :query,
                params[:query],
                class: "form-control",
                id: "searchBar",
                placeholder: "activité recherchée"
            %>
            <%= text_field_tag :event_address,
                params[:event_address],
                class: "form-control",
                id: "searchBar",
                placeholder: "Ville, département, région"
            %>
             <%= submit_tag "Rechercher", class: "btn btn-dark" %>
          <% end %>
        </div>
      </div>
    </div>
</div>

<div class = "logged-in">
   <div class = "organize-home">
      <% if user_signed_in? %>
        <% unless @events.empty? %>
          <h2 id = "logged-in-title">J'organise</h2>
          <% @events.each do |event| %>
            <%= link_to event_path(event) do %>
              <div class = "card-home">
                <div class="card-img">
                  <% if event.photos.empty? %>
                    <%= image_tag "event-default.png"%>
                  <% else %>
                    <%= cl_image_tag event.photos.first.key%>
                  <% end %>
                </div>
                <div class = "card-home-info">
                  <h2> Nom: <%= event.event_name%></h2>
                  <p> Adresse: <%= event.event_address%></p>
                  <p> Début: <span><%= event.event_start.strftime("%d/%m/%Y")%></span> Fin: <span><%= event.event_end.strftime("%d/%m/%Y")%></span></p>
                </div>
                <div class = "card-home-link">
                  <p id ="event-link", class= "home-link-to-show">Détails</p>
                </div>
              </div>
            <%end%>
          <%end%>
        <%end%>
      <%end%>
    </div>

    <div class = "partecip-home">
      <% if user_signed_in? %>
        <% unless current_user.teams.empty? %>
          <h2 id = "logged-in-title">Je participe</h2>
          <% current_user.teams.each do |team| %>

            <%= link_to event_path(team.event) do%>
              <div class = "card-home">
                <div class="card-img">
                  <% if team.event.photos.empty?%>
                    <%= image_tag "event-default.png"%>
                  <% else %>
                    <%= cl_image_tag team.event.photos.first.key%>
                  <% end %>
                </div>
                <div class = "card-home-info">
                  <h2> Nom: <%= team.event.event_name%></h2>
                  <p> Adresse: <%= team.event.event_address%></p>
                  <p> Début: <span><%= team.event.event_start.strftime("%d/%m/%Y")%></span> Fin: <span><%= team.event.event_end.strftime("%d/%m/%Y")%></span></p>
                </div>
                <div class = "card-home-link">
                  <p class= "home-link-to-show"> Détails</p>
                </div>
              </div>
            <%end%>
          <%end%>
        <%end%>
      <%end%>
    </div>
</div>


<div class="cards">

    <%= link_to events_path(query: "golf") do %>
  <div id="golf", class="theme">
      <p class="link-to-show">Golf</p>
  </div>
    <%end%>

  <%=  link_to events_path(query: "foot") do%>
    <div  id="football", class="theme">
      <p class="link-to-show">Football</p>
    </div>
  <%end%>

  <%= link_to events_path(query: "basket") do %>
    <div id="basket", class="theme">
      <p class="link-to-show">Basket</p>
    </div>
  <%end%>

  <%= link_to events_path(query: "ping-pong") do %>
    <div id="ping-pong", class="theme">
      <p class="link-to-show">Ping-pong</p>
    </div>
  <%end%>

  <%= link_to events_path(query: "petanque") do %>
    <div id="petanque", class="theme">
      <p class="link-to-show">Pétanque</p>
    </div>
  <%end%>

  <%= link_to events_path(query: "beach volley") do %>
    <div id="volley", class="theme">
      <p class="link-to-show">Beach Volley</p>
    </div>
  <%end%>
</div>
