<% if @team.event.photos.empty? %>
  <div class="banner-show" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(banner-default.png)">
<% else %>
  <div class="banner-show" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%=cl_image_path @team.event.photos.first.key, height: 300, crop: :fill %>')">
<% end %>
  <div class="text-banner">
  <h1><%=@team.event.event_name%></h1>

  </div>
  </div>




    <h2 id= "titre"><%=@team.team_name%></h2>
<div class="page_selection" data-controller="form-by-player"
data-form-by-player-nb-player-value="<%= @team.nb_player %>"
data-form-by-player-select-player-ids-value="<%=@team.select_player_ids%>">
  <div class="new_player">
    <div class="add_player">
      <%= render "select_players/form_player", select_player: @select_player, team: @team%>
    </div>
    <div class="add_ami">
    <p>Votre ami n'est pas encore inscrit sur Get Ch@mpionship ?    <%= mail_to  "", "invitez le !"%></p>
    </div>
  </div>
  <div class="team">
    <h3 id="equipe-titre">Membre de l'équipe:</h3>
    <ul data-form-by-player-target = "affiche" class ="list-joueur">
      <%n = 0%>
      <%@team.select_player_ids.each do |select|%>
        <% @select = SelectPlayer.find(select)%>
        <% @user = User.find(@select.user_id)%>
        <%n = n+=1%>
        <div class="li-joueur">
          <li class="joueur">Joueur<%=n%>:  <%=@user.last_name%><%=" "%> <%=@user.first_name %> </li>
          <%=link_to team_select_player_path(@team ,@select), data: {turbo_method: :delete, form_by_player_target: "no"}, class:"icon-none" do%>
            <i class="fa-solid fa-trash-can"></i>
          <%end%>
        </div>

        <%# <i class="fa-solid fa-trash-can-xmark"></i> %>
      <%end%>
    </ul>
  </div>
  <div class="validation">
    <%=link_to "Valider l'équipe", event_path(@team.event),  class: "btn-add"%>
  </div>
</div>
