<h2><%=@team.event.event_name%></h2>

<div class="new_player">
  <h3>Ajoute tes joueurs</h3>

  <%(0..@team.nb_player-1).each do |elem|%>
    <%= render "select_players/form_player", select_player: @select_player, team: @team%>
  <%end%>
</div>

<div class="team">
<h3>Equipe: <%=@team.team_name%><h3>
<%if @select_player%>
  <%# <%raise%>
<%end%>
<ul>
  <%# <%@team.select_player.each do |player|%>
  <%# <li>Joueur : <%=player.first_name</li>%>
    <%# <li>Joueur <%=((0..@team.nb_player-1).index(player) + 1) :<li>%>
  <%# <%end%>


</div>
